.btnWithNumber {
    height: 55px;
    width: 55px;
    background-color: #818181;
    color: white;
    font-size: 40px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
    user-select: none;
}

.btnWithOperator {
    height: 55px;
    width: 55px;
    background-color: #41A2C5;
    color: white;
    font-size: 40px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.btnWithEgal {
    height: 55px;
    width: 55px;
    background-color: #EA5E5D;
    color: white;
    font-size: 40px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}